# Python
__pycache__/
*.py[cod]
*.pyo
venv/
*.db
.env

# Uploads
backend/uploads/
backend/exports/
backend/faiss_index/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
